.order_of_user_page {
  .top {
    .title_36 {
      @include title-36;
    }
  }

  .desc {
    @include desc-black;
  }

  .content_page {
    .box_select {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid #e0e0e0;

      .desc {
        cursor: pointer;

        &:hover {
          color: $dark-pink;
        }
      }

      .desc.active {
        border-bottom: 2px solid $dark-pink;
        color: $dark-pink;
      }
    }

    .orders_list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;

      .box_order {
        padding: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #ccc;

        span {
          margin-left: 10px;
        }

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #e4e3e3;
          padding-bottom: 5px;

          .box_right {
            display: flex;
            align-items: center;
            gap: 30px;

            .box_code {
              position: relative;
              display: flex;
              align-items: center;
              gap: 10px;

              &:hover {
                .copy {
                  opacity: 1;
                }
              }

              .code {
                color: $dark-pink;
              }

              .copy {
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                position: absolute;
                top: 20px;
                left: 50px;
                background-color: $white;
                opacity: 0;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                  color: $dark-pink;
                }
              }
            }
          }
        }

        .products_list {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .box_product {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .box_image {
              width: 12%;
              img {
                width: 80%;
              }
            }

            .box_content {
              width: 85%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .title_20 {
                @include title-20;
              }
            }

            .box_right {
              .box_price {
                display: flex;
                flex-direction: column-reverse;

                .old_price {
                  color: $dark-gray;
                  text-decoration: line-through;
                }

                .new_price {
                  color: $dark-pink;
                }
              }
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: end;
          border-top: 1px solid #dedbdb;
          padding-top: 15px;

          .content_bottom {
            width: 20%;
            display: flex;
            align-items: end;
            flex-direction: column;
            gap: 20px;

            .price_order {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }

            .btn_dark_pink {
              @include btn-dark-pink;
              padding: 10px 20px;
              width: 150px;
            }
          }
        }
      }
    }
  }
}
