.popup_change_password {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  .bgc_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 999;
  }

  .content {
    width: 40%;
    background-color: $white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
    max-width: 700px;
    padding: 40px;
    position: relative;

    .title_24 {
      @include title-24;
      margin-bottom: 10px;
    }

    .box_item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .box_input {
        width: 100%;
        position: relative;

        input {
          width: 100%;
          padding: 7px;
          border: 1px solid #ccc;

          &:focus {
            border-color: $black;
          }
        }

        .icon {
          position: absolute;
          right: 10px;
          bottom: 5px;
          cursor: pointer;

          &:hover {
            color: $dark-pink;
          }
        }
      }

      .error {
        color: red;
      }
    }

    .bottom {
      display: flex;
      justify-content: end;

      .btn_dark_pink {
        @include btn-dark-pink;
        padding: 8px 20px;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 2rem;

      &:hover {
        color: $dark-pink;
      }
    }
  }
}
