.add_store {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  .desc {
    @include desc-black;
  }

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 20px;

    .error {
      color: $dark-pink;
      margin-top: 10px;
    }

    label {
      margin-bottom: 5px;
      margin-top: 20px;
    }

    input {
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 7px 10px;

      &:focus {
        border-color: $black;
      }
    }

    .btn_dark_pink {
      margin-top: 20px;
      @include btn-dark-pink;
    }

    .box_province_and_city {
      display: flex;
      flex-direction: column;

      #provinceOrCity {
        display: none;
      }

      #provinceOrCity:checked ~ .list_province_or_cities {
        display: flex;
      }

      .value {
        margin-top: 0;
        padding: 5px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        cursor: pointer;
      }

      .list_province_or_cities {
        display: flex;
        flex-direction: column;
        height: 200px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
        display: none;

        .desc {
          padding: 5px 0;
          margin: 0;
          cursor: pointer;

          &:hover {
            color: $dark-pink;
          }
        }
      }
    }
  }
}
